<h1>List of spaces</h1>

<%= @spaces.length%>

 <% for @space in @spaces %>
   Name: <%= @space.name %>
   Description: <%= @space.description %>
   Price: <%= @space.price %>
   Available from <%= @space.available_from %>
   Available to <%= @space.available_to %></br>
<% end %>
