<h2> Update spaces</h2>
<% for @space in @spaces %>
Name: <%= @space.name%></br>
Description: <%= @space.description%></br>
Price: <%= @space.price%></br>
Available from: <%= @space.available_from%></br>
Available to: <%= @space.available_to%></br>

<form action="/spaces/update" method="post">
<input type="hidden" name="id" value="<%=@space.id%>">
<input type="submit" name="Update" value="Update">
</form>
<% end %>
